PORT=5000
MONGODB_URI=xxxxxxxxxx
JWT_SECRET=xxxxxxxx
NODE_ENV=development
CLIENT_URL=http://localhost:5173


GOOGLE_CLIENT_ID=xxxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxx
GOOGLE_CALLBACK_URL=xxxxxxxx

RAZORPAY_KEY_ID=xxxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxx

CLOUDINARY_CLOUD_NAME=xxxxxxxx
CLOUDINARY_API_KEY=xxxxxxxxxx
CLOUDINARY_API_SECRET=xxxxxxxxxx
